name: CI
on:
  push:
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
  VERBOSE_TEST_LOGGING: true
defaults:
  run:
    shell: pwsh
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          global-json-file: global.json
      - name: Build
        run: dotnet build src --configuration Release -graph
      - name: Set up Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 21.6.x
      - name: install frontend packages
        run: npm install
        working-directory: src/frontend
      - name: build frontend
        run: npm run build
        working-directory: src/frontend
